// Color overrides
// Golden Brown Palette: https://www.color-hex.com/color-palette/44722
$gold-1: #e99c05;
$gold-2: #f4ae00;
$gold-3: #f8bf33;
$gold-4: #f8ce19;
$gold-5: #ffdc02;

$primary: $gold-1;
$secondary: $gold-2;
$success: #198754;
$info: $gold-4;
$warning: $gold-3;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// Body
$body-bg: #ffffff;
$body-color: #444;

// Typography
$font-family-sans-serif: "Caveat Brush", cursive;
$headings-font-family: "Caveat Brush", cursive;
$headings-font-weight: 400;
$headings-color: #222;

// Components
$border-radius: 1rem;
$border-radius-lg: 1.5rem;
$border-radius-sm: 0.5rem;

$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

// Navbar
$navbar-light-color: rgba(0, 0, 0, 0.55);
$navbar-light-active-color: $primary;
